<!doctype html>

<html>
<head>
	<title>Add Event</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>

<body class="text-center">
	<div class="main"><div class="wrapper">

	<form id="addEventForm" role="form" method="get" action="/add">
		<h3>Add Event</h3>

		<div>
			<select name="category">
				<script type="text/javascript"> 
					var data= require("../accounts.json");
					var acc = data.accounts[0];
				</script>
				{{#each accounts}}
					{{#each categories}}
					<option value="{{name}}">{{name}}</option>
					
					{{/each}}
				{{/each}}
			</select>
		</div>

		<div> 
			<br>Task name:<br>
			<input class="form-control" type="text" name="name"><br>
		</div>

		<div>
			<br>Start:<br>
			<input class="form-control" type="datetime-local" name="start"><br>
			<br>End:<br>
			<input class="form-control" type="datetime-local" name="end"><br>
		</div>
		<!--
		<div>
			<table>
				<tr>
					<td>
						<select name="timestart">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						
					</td>
					<td>
						<select name="timestart">
							<option value="00">00</option>
							<option value="15">15</option>
							<option value="30">30</option>
							<option valie="45">45</option>
						</select>
					</td>
					<td>
						<select name="ampm">
							<option value="am">am</option>
							<option value="pm">pm</option>
						</select>
					</td>
					<td>to</td>
					<td>
							<select name="timeend">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						
					</td>
					<td>
						<select name="timeend">
							<option value="00">00</option>
							<option value="15">15</option>
							<option value="30">30</option>
							<option valie="45">45</option>
						</select>
					</td>
					<td>
						<select name="ampm">
							<option value="am">am</option>
							<option value="pm">pm</option>
						</select>
					</td>
			</table>	
		</div>
-->
		

		<div class="middle-bttn">
			<table style="margin: auto">
				<tr>
					<th>

						<div class="cancel">
							<a href="/calendar" class="btn btn-default">Cancel</a>
						</div>
					</th>

					<th>
						<div class="save">
							<button class="btn btn-primary" type="submit">Save</button>
						</div>
					</th>
				</tr>
			</table>
		</div>
	</form>

</div></div>
	<div class="navbad bootstrap-override">
		<a href="/calendar"><i class="fas fa-calendar-alt"  style="font-size: 16px"></i><br>Calendar</a>
		<a href="/graph"><i class="fas fa-chart-pie"  style="font-size: 16px"></i><br>Your Activity</a>
		<a href="/settings"><i class="fas fa-cog"  style="font-size: 16px"></i><br>Settings</a>
		<a href="/addevent" class="active"><i class="fas fa-plus-square"  style="font-size: 16px"></i><br>Add Event</a>
	</div>
</body>