<!doctype html>

<html>
<head>
	<title>Calendar</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/calendar.css" rel="stylesheet">
	<script src="js/daypilot-all.min.js" type="text/javascript"></script>
	<script>
		function time(){
			var today = new Date();
			var mo = today.getMonth();
			var d = today.getDate();
			var day = today.getDay();
			var h = today.getHours();
			var m = today.getMinutes();

			var dayoftheweek= new Array(7);
			dayoftheweek[0] = "Sun";
			dayoftheweek[1] = "Mon";
			dayoftheweek[2] = "Tue";
			dayoftheweek[3] = "Wed";
			dayoftheweek[4] = "Thu";
			dayoftheweek[5] = "Fri";
			dayoftheweek[6] = "Sat";
			day = dayoftheweek[day];

			var month= new Array(12);
			month[0] = "January";
			month[1] = "February";
			month[2] = "March";
			month[3] = "April";
			month[4] = "May";
			month[5] = "June";
			month[6] = "July";
			month[7] = "August";
			month[8] = "September";
			month[9] = "October";
			month[10] = "November";
			month[11] = "December";
			mo = month[mo];

			document.getElementById("day").innerHTML = day;
			document.getElementById("month").innerHTML = mo;
			document.getElementById("date").innerHTML = d;

			if (h>12){
				h=h-12
			}

			document.getElementById("h").innerHTML = h;
			document.getElementsById("merid") = "PM";
			if (document.getElementById("h").innerHTML > 12){
				document.getElementsById("merid") = "AM";
			}

			document.getElementById("h+1").innerHTML = h + 1;
			document.getElementsById("merid+1") = "PM";
			if (document.getElementById("h+1").innerHTML > 12){
				document.getElementById("h+1").innerHTML = document.getElementById("h+1").innerHTML-12;
				documents.getElementById("merid+1").innerHTML = "AM";
			}

			document.getElementById("h+2").innerHTML = h + 2;
			if (document.getElementById("h+2").innerHTML > 12){
				document.getElementById("h+2").innerHTML = document.getElementById("h+2").innerHTML-12;
			}

			document.getElementById("h+3").innerHTML = h + 3;
			if (document.getElementById("h+3").innerHTML > 12){
				document.getElementById("h+3").innerHTML = document.getElementById("h+3").innerHTML-12;
			}

			document.getElementById("h+4").innerHTML = h + 4;
			if (document.getElementById("h+4").innerHTML > 12){
				document.getElementById("h+4").innerHTML = document.getElementById("h+4").innerHTML-12;
			}

			document.getElementById("h+5").innerHTML = h + 5;
			if (document.getElementById("h+5").innerHTML > 12){
				document.getElementById("h+5").innerHTML = document.getElementById("h+5").innerHTML-12;
			}

			document.getElementById("h+6").innerHTML = h + 6;
			if (document.getElementById("h+6").innerHTML > 12){
				document.getElementById("h+6").innerHTML = document.getElementById("h+6").innerHTML-12;
			}
			
			document.getElementById("h+7").innerHTML = h + 7;

			if (document.getElementById("h+7").innerHTML > 12){
				document.getElementById("h+7").innerHTML = document.getElementById("h+7").innerHTML-12;
			}
			document.getElementById("h+8").innerHTML = h + 8;
			if (document.getElementById("h+8").innerHTML > 12){
				document.getElementById("h+8").innerHTML = document.getElementById("h+8").innerHTML-12;
			}

			var t = setTimeout(time, 500);
		}
	</script>
</head>
<body onload="time()">
	<div class="month"> 
  		<ul>
    		<li class="add">
    			<form action="/addevent">
    				<input type="submit" value="+"/>
    			</form>
    		</li>
    		<li id="month"><br></li>
  		</ul>
	</div>

<div id="dp"></div>
<script type="text/javascript">
	var dp = new DayPilot.Calendar("dp");
	dp.viewType = "Day";
	dp.init();
	dp.events.list = [{"id":"1", "text":"Event", "start":"2018-02-14T10:30:00", "end":"2018-02-14T12:30:00"}];
	dp.update();
</script>

<!-- Calendar elements  -->
<!--
	<table style="width:100%">
		
		<tr height="100">
			<th style="width:25%">
				<h1 id="day"></h1>
			</th>
			<td style="width:75%">
				<h1 id="date"></h1>
			</td>
		</tr>

		<tr class="zero" >
			<th rowspan="4"><span id="h"></span></th>
			<td >:00</td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
		</tr>
		<tr class="half">
			<td>:30</td>
		</tr>
		<tr>
			<td>:45</td>
		</tr>

		<tr class="zero" >
			<th rowspan="4"><span id="h+1"></span>PM</th>
			<td >:00</td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
		</tr>
		<tr class="half">
			<td>:30</td>
		</tr>
		<tr>
			<td>:45</td>
		</tr>

		<tr class="zero" >
			<th rowspan="4"><span id="h+2"></span>PM</th>
			<td >:00</td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
		</tr>
		<tr class="half">
			<td>:30</td>
		</tr>
		<tr>
			<td>:45</td>
		</tr>

		<tr class="zero" >
			<th rowspan="4"><span id="h+3"></span>PM</th>
			<td >:00</td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
		</tr>
		<tr class="half">
			<td>:30</td>
		</tr>
		<tr>
			<td>:45</td>
		</tr>

		<tr class="zero" >
			<th rowspan="4"><span id="h+4"></span>PM</th>
			<td >:00</td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
		</tr>
		<tr class="half">
			<td>:30</td>
		</tr>
		<tr>
			<td>:45</td>
		</tr>

		<tr class="zero" >
			<th rowspan="4"><span id="h+5"></span>PM</th>
			<td >:00</td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
		</tr>
		<tr class="half">
			<td>:30</td>
		</tr>
		<tr>
			<td>:45</td>
		</tr>

		<tr class="zero" >
			<th rowspan="4"><span id="h+6"></span>PM</th>
			<td >:00</td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
		</tr>
		<tr class="half">
			<td>:30</td>
		</tr>
		<tr>
			<td>:45</td>
		</tr>

		<tr class="zero" >
			<th rowspan="4"><span id="h+7"></span>PM</th>
			<td >:00</td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
		</tr>
		<tr class="half">
			<td>:30</td>
		</tr>
		<tr>
			<td>:45</td>
		</tr>

		<tr class="zero" >
			<th rowspan="4"><span id="h+8"></span>PM</th>
			<td >:00</td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
		</tr>
		<tr class="half">
			<td>:30</td>
		</tr>
		<tr>
			<td>:45</td>
		</tr>
	

	</table>  -->

	<div class="navbar">
		<a href="calendar.html">Calendar</a>
		<a href="graph.html">Your Activity</a>
		<a href="settings.html">Settings</a>
		<a href="login.html">Logout</a>
	</div>


	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/addEvent.js"></script>


</body>
</html>
