<!doctype html>

<html>
<head>
	<title>Edit Event</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/addevent.css" rel="stylesheet">
	<!-- <link href="css/bootstrap.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


	  <script>
	  $( function() {
	    $( "#datepicker" ).datepicker();
	  } );

	  </script>
</head>

<body class="text-center">

<div class="main">
	<div class="wrapper">
		


<form id="editEventForm" class="form-group" role="form" method="get" action="/editEvent">
	
	<h3>Edit Event</h3>
	
	<div class="input-group mb-3 input-group-lg"> 
		<input class="form-control" type="text" name="name" id="taskname">
	</div>

	<div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Date</span>
			</div>
			<input type="date" class="form-control" name="date" id="taskdate" required>
		</div>

		<div class="form-group">
		<select class="custom-select" name="category" id="taskcat" required>
			<option selected disabled="disabled" value="">Select Category</option>
		</select>
		<div class="invalid-feedback">Please select a category!</div>
		</div>
	</div>	

	<div class="row">
		<div class="col-6">
			<div class="input-group mb-3 input-group-sm">
				<div class="input-group-prepend">
					<span class="input-group-text">Start Time</span>
				</div>
				<input class="form-control" type="time" name="timestart" id="taskstart" required>
			</div>
		</div>
		<div class="col-6">
			<div class="input-group mb-3 input-group-sm">
				<div class="input-group-prepend">
					<span class="input-group-text">End Time</span>
				</div>
				<input class="form-control" type="time" name="timeend" id="taskend" required>
			</div>
		</div>
	</div>

	<div>
		<input name="olddate" type="hidden" id="olddate"/>
		<input name="oldname" type="hidden" id="oldname"/>
		<input name="oldstart" type="hidden" id="oldstart"/>
		<input name="oldend" type="hidden" id="oldend"/>
		<input name="oldcat" type="hidden" id="oldcat"/>
	</div>
		
		
	<div class="middle-bttn">
		<table style="margin: auto">
			<tr>
				<th>

					<div class="cancel">
						<a href="/calendar" class="btn btn-default">Cancel</a>
					</div>
				</th>

				<th>
					<div class="save">
						<button class="btn btn-primary" type="submit">Save</button>
					</div>
				</th>
			</tr>
		</table>
	</div>
</form>

</div>
</div>
	
<div class="navbad bootstrap-override">
	<a href="/calendar2"><i class="fas fa-calendar-alt"  style="font-size: 16px"></i><br>Calendar</a>
	<a href="/graph"><i class="fas fa-chart-pie"  style="font-size: 16px"></i><br>Your Activity</a>
	<a href="/settings"><i class="fas fa-cog"  style="font-size: 16px"></i><br>Settings</a>
	<a href="/addevent"><i class="fas fa-plus-square"  style="font-size: 16px"></i><br>Add Event</a>
</div>

	<script>
		var decodedJson = decodeURIComponent("{{{encodedJson}}}");
		var obj = JSON.parse(decodedJson);
		var cats = obj.categories;
		var eve = obj.eve;
		console.log(obj);
		/*
		document.getElementById("taskname").defaultValue = eve.name;
		document.getElementById("taskstart").defaultValue = eve.timestart;
		document.getElementById("taskend").defaultValue = eve.timeend;
		*/
		document.getElementById("taskname").value = eve.name;
		document.getElementById("oldname").value = eve.name;
		var timestart = eve.timestart.substring(0,4);
		var timeend = eve.timeend.substring(0,4);
		if(timestart.charAt(0) != '0')
			timestart = '0'+timestart;
		if(timeend.charAt(0) != '0')
			timeend = '0'+timeend;
		if(eve.timestart.includes("pm")) {
			if(timestart.substring(0,2) != '12')
				timestart = (parseInt(timestart.substring(0,2))+12).toString() + timestart.substring(2);
		}

		if(eve.timeend.includes("pm")) {
			if(timeend.substring(0,2) != '12')
				timeend = (parseInt(timeend.substring(0,2))+12).toString() + timeend.substring(2);
		}
	

		document.getElementById("taskstart").defaultValue = timestart;
		document.getElementById("taskend").defaultValue = timeend;
		document.getElementById("oldstart").value = timestart;
		document.getElementById("oldend").value = timeend;


		var mm = eve.month;
		if(mm<10)
			mm='0'+mm;
		var dd = eve.day;
		if(dd<10)
			dd='0'+dd;
		var date = eve.year + '-' + mm + '-' + dd;
		document.getElementById("taskdate").defaultValue = eve.date;
		document.getElementById("olddate").value = eve.date;
		var mySelect = document.getElementById("taskcat");
		for (var x = 0; x < cats.length; x++) {
			var opt = document.createElement('option');
			opt.value = cats[x].name;
			opt.innerHTML = cats[x].name;
			if(cats[x].name == eve.category.name)
				opt.selected = "selected";
			mySelect.appendChild(opt);
		}
		
		document.getElementById("oldcat").value = eve.category.name;
	</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-115181899-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>

</html>