<!doctype html>

<html>
<head>
	<title>Your Activity</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    	var decodedJson = decodeURIComponent("{{{encodedJson}}}");
		var jsonObj = JSON.parse(decodedJson);
    	google.charts.load('current', {'packages':['corechart']});
    	google.charts.setOnLoadCallback(drawChart);
    	var json = [['Task', 'Minutes per Day']];

    	var x;
		for(x in jsonObj.accounts[0].categories) {
			if(jsonObj.accounts[0].categories[x] !== null)
				json.push([jsonObj.accounts[0].categories[x].name, 0]);
		}
		var y;
		var eve;
		for(y in jsonObj.accounts[0].events) {
			eve = jsonObj.accounts[0].events[y];
  			for(categ in json) {
  				if(eve.category == json[categ][0])
  					json[categ][1] += (eve.timeend - eve.timestart)*15;
  			}
  		}
  		console.log(json);

      	function drawChart() {

        	var dataGraph = google.visualization.arrayToDataTable(json);
        	/*[
          ['Task', 'Hours per Day'],
          ['Work',     10],
          ['Sleep',      2],
          ['Exercise',  2],
        ]);*/

        	/*var options = {
          	title: 'Your Daily Activity'
        	};*/

        	var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        	chart.draw(dataGraph/*, options*/);
    	}
    </script>
</head>

<body>

	<div class="navbad bootstrap-override2">
		<a href="#" style="font-size: 16px" class="graph">Day</a>
		<a href="#" style="font-size: 16px" class="graph">Week</a>
		<a href="#" style="font-size: 16px" class="graph">Month</a>
		<a href="#" style="font-size: 16px" class="graph">Year</a>
	</div>

	<div class="navbad bootstrap-override">
		<a href="/calendar"><i class="fas fa-calendar-alt"  style="font-size: 16px"></i><br>Calendar</a>
		<a href="/graph" class="active"><i class="fas fa-chart-pie"  style="font-size: 16px"></i><br>Your Activity</a>
		<a href="/settings"><i class="fas fa-cog"  style="font-size: 16px"></i><br>Settings</a>
		<a href="/addevent"><i class="fas fa-plus-square"  style="font-size: 16px"></i><br>Add Event</a>
	</div>
<!--
	<table width ="100%">
		<tr>
			<th><button type="button" class="button">D</button></th>
			<th><button type="button" class="button">W</button></th>
			<th><button type="button" class="button">M</button></th>
			<th><button type="button" class="button">Y</button></th>
		</tr>
	</table>
-->
<!--
	<div class="graph">  
		<a href="" class="thumbnail">
			<img src ="piechart.JPG" alt = "JPEG Image">
		</a>
	</div>

	<div class="activities" id="activity1">
		<p>Work</p>
	</div>

	<div class="activities" id="activity2">
		<p>Sleep</p>
	</div>

	<div class="activities" id="activity3">
		<p>Exercise</p>
	</div>
-->
	<div id="piechart" style="height:400px">	</div>


	
</body>
</html>