<!doctype html>

<html>
<head>
	<title>Your Week</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    	var decodedJson = decodeURIComponent("{{{encodedJson}}}");
		var jsonObj = JSON.parse(decodedJson);
    	google.charts.load('current', {'packages':['corechart']});
    	google.charts.setOnLoadCallback(drawChart);
    	var json = [['Task', 'Hours per Week']];
		var barjson = [['Task', 'Hours per Week', {role: 'style'}]];

		var x;
		var slice = {};
		for(x in jsonObj[0]) {
			if(jsonObj[0][x] !== null) {
				json.push([jsonObj[0][x].name, 0]);
				slice[x] = {color: jsonObj[0][x].colorname};
				barjson.push([jsonObj[0][x].name, 0, jsonObj[0][x].colorname]);
			}
		}
/*
				json.push([jsonObj[0][x].name, 0, "color: "+jsonObj[0][x].color]);
				json.push([jsonObj[0][x].name, 0, /*jsonObj[0][x].color.substring(16, 22)]);*/

		var y;
		var eve;
		console.log(jsonObj.length);
		for(y in jsonObj[1]) {
			eve = jsonObj[1][y];
			for (categ in json) {
				if(eve.category.name == json[categ][0])
					json[categ][1] += eve.totaltime;
				if(eve.category.name == barjson[categ][0])
					barjson[categ][1] += eve.totaltime;
			}
		}
/*
  			for(categ in json) {
  				if(eve.category == json[categ][0])
  					json[categ][1] += eve.totaltime/60;
  			}
  		}
  		console.log(json);
  		console.log(jsonObj);
  		/*
  		var colors = {};
  		for (var x = 0; x < jsonObj[0].length; x++) {
  			colors[x] = {color: jsonObj[0][x].color.substring(16,23)}
  		}
  		console.log(colors);*/
    //  	function drawChart() {

      //  	var dataGraph = google.visualization.arrayToDataTable(json);
        	/*[
          ['Task', 'Hours per Day'],
          ['Work',     10],
          ['Sleep',      2],
          ['Exercise',  2],
        ]);*/

        	/*var options = {
          	title: 'Your Daily Activity'
        	};*/
/*
        	var options = {
        		//title:'Your Day',
        		pieSliceText:'label',
        		width: screen.width,
        		height: screen.height,
        		legend: 'none'//,
        		//slices: colors
        	}

        	var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        	var formatter = new google.visualization.NumberFormat({suffix: " hours"});
        	formatter.format(dataGraph, 1);
        	
			for(categ in json) {
				if(eve.category == json[categ][0])
					json[categ][1] += eve.totaltime/60;
			}
		}
		console.log(json);
		console.log(jsonObj);*/

		function drawChart() {

			var dataGraph = google.visualization.arrayToDataTable(json);
			console.log(json);
			/*[
		  ['Task', 'Hours per Day'],
		  ['Work',     10],
		  ['Sleep',      2],
		  ['Exercise',  2],
		]);*/

			/*var options = {
			title: 'Your Daily Activity'
			};*/

			var options = {
				//title:'Your Day',
				pieSliceText:'label',
				width: screen.width,
				height: screen.height,
				legend: 'none',
				slices: slice
			};

			var chart = new google.visualization.PieChart(document.getElementById('piechart'));

			var formatter = new google.visualization.NumberFormat({suffix: " hours"});
			formatter.format(dataGraph, 1);

			
			chart.draw(dataGraph, options);

			var dataBarGraph = google.visualization.arrayToDataTable(barjson);
			var barOptions = {
				width: screen.width,
				height: screen.height,
				legend: { position: "none" },
				vAxis: {title: "# of hours"}
			};



			var barchart = new google.visualization.ColumnChart(document.getElementById('barChart'));
			barchart.draw(dataBarGraph, barOptions);
		}
    </script>
</head>

<body>

	<div class="navbad bootstrap-override2">
		<a href="/graph" style="font-size: 16px" class="graph">Day</a>
		<a href="/graphweek" style="font-size: 16px" class="graph active">Week</a>
		<a href="/graphmonth" style="font-size: 16px" class="graph">Month</a>
		<a href="/graphyear" style="font-size: 16px" class="graph">Year</a>
	</div>

	<div class="navbad bootstrap-override">
		<a href="/calendar"><i class="fas fa-calendar-alt"  style="font-size: 16px"></i><br>Calendar</a>
		<a href="/graph" class="active"><i class="fas fa-chart-pie"  style="font-size: 16px"></i><br>Your Activity</a>
		<a href="/settings"><i class="fas fa-cog"  style="font-size: 16px"></i><br>Settings</a>
		<a href="/addevent"><i class="fas fa-plus-square"  style="font-size: 16px"></i><br>Add Event</a>
	</div>
<!--
	<table width ="100%">
		<tr>
			<th><button type="button" class="button">D</button></th>
			<th><button type="button" class="button">W</button></th>
			<th><button type="button" class="button">M</button></th>
			<th><button type="button" class="button">Y</button></th>
		</tr>
	</table>
-->
<!--
	<div class="graph">  
		<a href="" class="thumbnail">
			<img src ="piechart.JPG" alt = "JPEG Image">
		</a>
	</div>

	<div class="activities" id="activity1">
		<p>Work</p>
	</div>

	<div class="activities" id="activity2">
		<p>Sleep</p>
	</div>

	<div class="activities" id="activity3">
		<p>Exercise</p>
	</div>
-->
	<div id="piechart">	</div>
	<div id="barChart"> </div>

	
</body>
</html>