<!doctype html>

<html>
<head>


	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/login.css">
    <link href="css/bootstrap.css" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lato|Lobster" rel="stylesheet">
</head>
<body class="text-center bootstrap-override">
<div class="main"><div class="wrapper">
<form class="form-signin" method="get" action="/loginacc">
  <h1 id="title">Chronicle</h1>
    
	<!-- <h1 class="h3 mb-3 font-weight-normal">Login</h1> -->

	<div class="container">
    <label for="name"><b></b></label>
    <input class="form-control" type="text" placeholder="Username" name="name" required>

    <label for="pass"><b></b></label>
    <input class="form-control"  type="password" placeholder="Password" name="pass" required>

    <!-- <a href="calendar.html"><button type="submit">Login</button></a> -->
    

 <!--   <div class="checkbox mb-3">
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember Me
    </label>
   </div> -->


  

  <button style="margin: 15px 0px; font-family:Lobster, cursive!important; background-color: rgb(60, 178, 200);
    border-color: rgb(60, 178, 200);" class="btn btn-lg btn-primary btn-block" type="submit" >Log In</button>
	<!-- <a href="calendar.html">Login</a> -->
  <div id="btn-two">
	 <a href="/signup">Don't Have An Account? Sign Up</a>
  </div>

  </div></div>
  

</form>
</div>
<div style="/*margin-top: -10%*/">or Login with Facebook
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
</div>
{{> facebook}}

</body>
</html>
