<!doctype html>

<html>
<head>
	<title>Settings</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/navbar.css" rel="stylesheet">

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	
</head>
<body>
	<h1>Settings</h1>
	<div class="navbar bootstrap-override">
		<a href="/calendar"><i class="fas fa-calendar-alt"></i> Calendar</a>
		<a href="/graph"><i class="fas fa-chart-pie"></i> Your Activity</a>
		<a href="/settings"><i class="fas fa-cog"></i> Settings</a>
		<a href="/login"><i class="fas fa-sign-out-alt"></i> Logout</a>
	</div>
</body>
</html>
