<!doctype html>

<html>
<head>
	<title>Settings</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/navbar.css" rel="stylesheet">
</head>
<body>
	<h1>Settings</h1>
	<div class="navbar">
		<a href="/calendar">Calendar</a>
		<a href="/graph">Your Activity</a>
		<a href="/settings">Settings</a>
		<a href="/login">Logout</a>
	</div>
</body>
</html>
