<!doctype html>

<html>
<head>
	<title>Sign Up</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<link href="css/bootstrap.css" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body class="text-center">
	<div class="main"><div class="wrapper">
		 <h1 id="title">Chronicle</h1>

	<h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
	<form class="form-signin" method="post" action="/addaccount">
		
		<div class="container">
	    	<label for="name"><b></b></label>
	    	<input class="form-control" type="text" placeholder="Create Username" name="name" required>

	    	<label for="pass"><b></b></label>
	    	<input class="form-control" type="password" placeholder="Create Password" name="pass" required>

	    	<label for="pass-rpt"><b></b></label>
	    	<input class="form-control" type="password" placeholder="Repeat Password" name="pass-repeat" required>

			 <button style="margin: 15px 0px" class="btn btn-lg btn-primary btn-block" 	 type="submit">Create Account</button>

		</div>
	</form>

		<a href="/">Already have an account?  Click here to login</a>
		</div></div>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115181899-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115181899-1');
</script>
	</body>
</html>
