ul {list-style-type: none;}

/* Month header */
.month {
	padding: 25px 25px 0px 25px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index:2;

}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Add button */
.month .add {
	padding-top: 0px;
	float: right;	
	padding-right: 10%;
}

table {
	border: 1px solid black;
	border-spacing: 0px;
}

td {
	border-bottom: 1px solid black;

}

.quarter td, .half td, .zero td{
	border-bottom: 1px dashed black;
}


.content{
	padding-top: 177px;
	padding-bottom:60px;
}

body{
	padding-top: 62.67px;
	left: 0;
	right: 0;
}

.eventCard{
	width: 85%;
	margin: auto;
}

#centerMsg{
	padding-top: 60%;
	text-align: center;
	font-size:24px;
	color:gray;
}

html, body {
    height: 100%;
    margin: 0px 25px;
    background: 
}



header {
	height: 70px;
	background-color: #3e739d;
	border-bottom: 1px solid #494949;
	display: flex;
	align-items: center;
	justify-content: center;
}
header > h1 {
	width: calc(100% - 160px);
	text-align: center;
	font-size: 20px;
	color: white;
}
header > .top {
	position: absolute;
	left: 20px;
}
header > .top a.menu_icon i {
	color: #000;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}
header > .top a.menu_icon:hover i {
	color: #fff;
}
nav.menu {
	width: 70%;
	min-height: calc(100vh - 121px);
	background-color: white;
	position: absolute;
	left: -300px;
	transition: .3s all;
	border-right: 1px solid gray;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: #494949;
    /*text-transform: uppercase;*/
}
main {
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
}
footer {
	height: 50px;
	background-color: #494949;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.menu_show {
	left: 0!important;
}

@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 65%;
		left: -100%; 
	}
}


.top{
	padding-right: 25px;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

#add-event-button{
	position: fixed;
    bottom: 35px;
    right: 35px;

    color:rgb(60, 178, 200);

     z-index: 2;
    background: white;
    border-radius: 100%;
}

#calendar-icon{
	margin-top: 15px;
    font-size: 100px;
}

#hamburger-pullout{
	z-index: 2;
}

.item_menu{
font-family: 'Krona One', sans-serif;
}

.bootstrap-override{
font-family: 'Lato', sans-serif;
}

.card-block{
	padding: 10px 20px;
}

.edit-btn{
	background-color: #61adff;
}